.input{
    margin: 5%;
}

.h1{
    color: #14279B;

}

.para{
    margin: 5%;

}
.button{
    color: #14279B;
    background-color: transparent;
    border: 1px solid #14279B;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
}

.button:hover{
    color: white;
    background-color: #14279B;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}
.img{
    position: relative;
    height: 100%;
    width: 100%;
}